<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173322487200-1d1ruvmap3r4gv11n5qgnqlp05jfdk1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173322487200-1d1ruvmap3r4gv11n5qgnqlp05jfdk1o</string>
	<key>API_KEY</key>
	<string>AIzaSyA0IpBzxsU6-UjVBu0qwej0Jc50yNUQyg0</string>
	<key>GCM_SENDER_ID</key>
	<string>173322487200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.microlab</string>
	<key>PROJECT_ID</key>
	<string>microlab-412c7</string>
	<key>STORAGE_BUCKET</key>
	<string>microlab-412c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173322487200:ios:59c148de727e4ca45710c5</string>
</dict>
</plist>